@model PaymentIndexModel

@{
    decimal totalTax = 0;
    decimal total = 0;
}

<div class="row mb-3">
    <div class="col">
        <h1>Ödeme Sayfası</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label"><b>Sepetinizdeki Ürünler</b></label>
        <table class="table">
            <tbody>
                @foreach (CartItem item in Model.CartItems)
                {
                    Product product = Model.Products.FirstOrDefault(x => x.Id == item.ProductId);
                    decimal urunAraToplam = product.DiscountedPrice * item.Quantity;
                    decimal vergiTutari = urunAraToplam * product.TaxRate / 100;
                    decimal urunToplam = urunAraToplam + vergiTutari;

                    totalTax += vergiTutari;
                    total += urunToplam;

                    <tr>
                        <td>
                            @if (product.Images != null && product.Images.Count > 0)
                            {
                                <img src="/img/product_images/@product.Id/@product.Images.First().FileName" width="100" />
                            }
                            else
                            {
                                <img src="https://picsum.photos/100/100?random=1" />
                            }
                        </td>
                        <td>
                            <div>
                                <b>
                                    @product.Name
                                </b>
                            </div>
                            <div>
                                Adet : @item.Quantity
                            </div>
                        </td>
                        <td>
                            <div>
                                <b>
                                    Birim Fiyat
                                </b>
                            </div>
                            <div>
                                @product.DiscountedPrice.ToString("C2")
                            </div>
                        </td>
                        <td>
                            <div>
                                <b>
                                    Ara Toplam
                                </b>
                            </div>
                            <div>
                                @urunAraToplam.ToString("C2")
                            </div>
                        </td>
                        <td>
                            <div>
                                <b>
                                    KDV (%@product.TaxRate.ToString("N2"))
                                </b>
                            </div>
                            <div>
                                @vergiTutari.ToString("C2")
                            </div>
                        </td>
                        <td>
                            <div>
                                <b>
                                    Toplam
                                </b>
                            </div>
                            <div>
                                @urunToplam.ToString("C2")
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="RemoveItemFromCart" asp-route-productId="@item.ProductId"
                               onclick="return confirm('Ürünü sepetinizden silmek istedinize emin misiniz?')"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form method="post">
    <div class="row mb-3">
        <div class="col-6">
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <input type="text" asp-for="CardHolder" class="form-control" placeholder="Kart sahibi">
                        <span asp-validation-for="CardHolder" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <input type="text" asp-for="CardNo" class="form-control" placeholder="Kart numarası">
                        <span asp-validation-for="CardNo" class="text-danger small"></span>
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label small" asp-for="CardMonth">Ay</label>
                    <input type="number" class="form-control" asp-for="CardMonth" placeholder="@DateTime.Now.Month">
                    <span asp-validation-for="CardMonth" class="text-danger small"></span>
                </div>
                <div class="col-3">
                    <label class="form-label small" asp-for="CardYear">Yıl</label>
                    <input type="number" class="form-control" asp-for="CardYear" placeholder="@DateTime.Now.Year">
                    <span asp-validation-for="CardYear" class="text-danger small"></span>
                </div>
                <div class="col-3">&nbsp;</div>
                <div class="col-3">
                    <label class="form-label small" asp-for="CardCvc">CVC</label>
                    <input type="number" class="form-control" placeholder="123" asp-for="CardCvc">
                    <span asp-validation-for="CardCvc" class="text-danger small"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success">Ödeme Yap</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div>
                <b>Toplam KDV</b> : @totalTax.ToString("C2")
            </div>
            <div class="mb-3">
                <h4><b>Toplam tutar</b> : @total.ToString("C2")</h4>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Check1">
                <label class="form-check-label" asp-for="Check1">
                    In malesuada semper mi, id sollicitudin urna.
                </label>
                <span asp-validation-for="Check1" class="text-danger small"></span>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Check2">
                <label class="form-check-label" asp-for="Check2">
                    Consectetur adipiscing elit fusce vel.
                </label>
                <span asp-validation-for="Check2" class="text-danger small"></span>
            </div>
        </div>
    </div>
</form>