@using MFramework.Services.FakeData
@model HomeIndexViewModel

<div class="row mb-4">
    <div class="col">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://picsum.photos/1920/400?random=1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/1920/400?random=2" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/1920/400?random=3" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-3">
        <div class="list-group">
            @foreach (Category cat in Model.Categories)
            {
                <a asp-action="Index" asp-controller="Home" asp-route-id="@cat.Id"
                   class="list-group-item list-group-item-action">@cat.Name</a>
            }
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            @foreach (Product pro in Model.Products)
            {
                <div class=" col-3 mb-3">
                    <div class="card">
                        <img src="https://picsum.photos/286/180?random=1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@pro.Name</a></h5>
                            <div class="row">
                                <div class="col-10">
                                    @{
                                        // int point = NumberData.GetNumber(0, 5);
                                        int point = Random.Shared.Next(0, 5);
                                        int remaining = 5 - point;
                                    }

                                    @for (int i = 0; i < point; i++)
                                    {
                                        <i class="text-warning fa-solid fa-star"></i>
                                    }

                                    @for (int i = 0; i < remaining; i++)
                                    {
                                        <i class="text-warning fa-regular fa-star"></i>
                                    }
                                </div>
                                <div class="col-2">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span class="text-danger line-through small">@pro.Price.ToString("C2")</span>
                                </div>
                                <div class="col-12">
                                    <span class="bold">@pro.DiscountedPrice.ToString("C2")</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text small">@pro.Description?.Substring(0, 40) ...</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <a href="#" class="btn btn-primary">
                                        <i class="fa-solid fa-cart-shopping me-2"></i>Sepete Ekle
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>