@model IEnumerable<ETicaretUygulamasi.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Ürün Kayıt</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-danger" asp-action="CreateRandom">Ürün Üret (40)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Adı
            </th>
@*             <th>
                Açıklama
            </th> *@
            <th>
                Fiyat
            </th>
            <th>
                İndirimli Fiyat 
            </th>
            <th>
                Vergi
            </th>
            <th>
                Stok
            </th>
            <th>
                Kategori
            </th>
            <th>
                Ürün Grubu
            </th>
            @* <th>
                Oluşturma Tarihi    
            </th>
            <th>
                Oluşturan
            </th>
            <th>
                Düzenlenme Tarihi   
            </th>
            <th>
                Düzenleyen
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                @* <td>
                    @item.Description
                </td> *@
                <td>
                    @item.Price
                </td>
                <td>
                    @item.DiscountedPrice
                </td>
                <td>
                    @item.TaxRate
                </td>
                <td>
                    @item.Stock
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    @* @if (item.TagGroup != null)
                    {
                        @item.TagGroup.Name
                    } *@

                    @item.TagGroup?.Name
                </td>
                @* <td>
                    @item.CreatedAt
                </td>
                <td>
                    @item.CreatedUserName
                </td>
                <td>
                    @item.ModifiedAt
                </td>
                <td>
                    @item.ModifiedUserName
                </td> *@
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary btn-sm" asp-action="ShowImages" asp-route-id="@item.Id">Images</a>
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Kaydı silmek istediğinize emin misiniz?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
