@model ETicaretUygulamasi.Models.TagGroup

@{
    ViewData["Title"] = "Delete";
}

<h1>Sil</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ürün Grubu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Oluşturma Tar.
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt
        </dd>
        <dt class="col-sm-2">
            Güncellenme Tar.
        </dt>
        <dd class="col-sm-10">
            @Model.ModifiedAt
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm">Geri Dön!</a>
    </form>
</div>
